.heading_div{
    float:none;
    border-radius:20px;
    background-color:white;
    color:black;
    padding:10px;
    box-shadow:5px 5px 5px gray;
    width:60%;
}
.heading{
    width:90%;
    font-size:35px;
    border-radius:20px;
    letter-spacing:2px;
}
.heading_div2{
    font-size:15px;
    width:75%;
}
body{
    font-family: 'Azeret Mono', monospace;
}
.result_par{
    box-shadow:5px 5px 5px grey;
    font-size:20px;
}
.copyright_footer{
    position:fixed;
    color:white;
    bottom:0px;
    width:100%;
    background-color:purple;
    line-height:3px;
    text-align:center;

}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top:150px;
}